<nav class="flex items-center justify-between p-4 bg-background">
    <div class="flex items-center space-x-4">
        <ng-icon name="hamburger" size="25"></ng-icon>
        <input [(ngModel)]="title" type="text" placeholder="Presentation Title"
            class="bg-[#f9fbfd] p-2 w-64 rounded text-lg font-normal text-[#444746]" />
    </div>
    <div class="flex items-center space-x-2">
        <button class="p-2 hover:bg-gray-200 rounded" title="Bold">
            <ng-icon name="bold" class="h-4 w-4"></ng-icon>
        </button>
        <button class="p-2 hover:bg-gray-200 rounded" title="Italic">
            <ng-icon name="italic" class="h-4 w-4"></ng-icon>
        </button>
        <button class="p-2 hover:bg-gray-200 rounded" title="Underline">
            <ng-icon name="underline" class="h-4 w-4"></ng-icon>
        </button>
        <button class="p-2 hover:bg-gray-200 rounded" title="Align Left">
            <ng-icon name="alignLeft" class="h-4 w-4"></ng-icon>
        </button>

        <div class="relative">
            <button class="border p-2 rounded inline-flex items-center" (click)="toggleDropdown()">
                Insert
                <ng-icon name="chevronDown" class="ml-2 h-4 w-4"></ng-icon>
            </button>
            <div *ngIf="isDropdownOpen" class="absolute right-0 mt-2 w-40 bg-white shadow-lg border rounded z-10">
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onInsert('table')">
                    <ng-icon name="table" class="mr-2 h-4 w-4"></ng-icon>
                    <span>Table</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onInsert('image')">
                    <ng-icon name="image" class="mr-2 h-4 w-4"></ng-icon>
                    <span>Image</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onInsert('shape')">
                    <ng-icon name="plusCircle" class="mr-2 h-4 w-4"></ng-icon>
                    <span>Shape</span>
                </button>
            </div>
        </div>
        <button class="border p-2 rounded" title="Save">
            <ng-icon name="save" class="h-4 w-4"></ng-icon>
        </button>
        <button class="border p-2 rounded" title="Settings">
            <ng-icon name="settings" class="h-4 w-4"></ng-icon>
        </button>
    </div>
</nav>