<nav class="flex items-center justify-between p-4 bg-background">
    <div class="flex items-center space-x-4">
        <ng-icon name="lucideAlignJustify" size="25"></ng-icon>
        <input [(ngModel)]="title" type="text" placeholder="Presentation Title"
            class="bg-[#f9fbfd] p-2 w-64 rounded text-lg font-normal text-[#444746]" />
    </div>
    <div class="flex items-center space-x-2">
        <button class="p-2 hover:bg-gray-200 rounded" title="Bold" (click)="onBoldClick()">
            <ng-icon name="lucideBold" class="h-4 w-4"></ng-icon>
        </button>
        <button class="p-2 hover:bg-gray-200 rounded" title="Italic" (click)="onItalicClick()">
            <ng-icon name="lucideItalic" class="h-4 w-4"></ng-icon>
        </button>
        <button class="p-2 hover:bg-gray-200 rounded" title="Underline" (click)="onUnderlineClick()">
            <ng-icon name="lucideUnderline" class="h-4 w-4"></ng-icon>
        </button>
        <div class="relative">
            <button class="p-2 hover:bg-gray-200 rounded inline-flex items-center" title="Text Alignment"
                (click)="toggleAlignDropdown()">
                <ng-icon name="lucideAlignLeft" class="h-4 w-4"></ng-icon>
                <ng-icon name="lucideChevronDown" class="ml-1 h-4 w-4"></ng-icon>
            </button>
            <div *ngIf="isAlignDropdownOpen" class="absolute left-0 mt-2 shadow-lg bg-blue-50 p-1 rounded z-10">
                <div class="flex gap-4">
                    <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onAlign('left')">
                        <ng-icon name="lucideAlignLeft"></ng-icon>
                    </button>
                    <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                        (click)="onAlign('center')">
                        <ng-icon name="lucideAlignCenter"></ng-icon>
                    </button>
                    <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onAlign('right')">
                        <ng-icon name="lucideAlignRight"></ng-icon>
                    </button>
                    <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                        (click)="onAlign('justify')">
                        <ng-icon name="lucideAlignJustify"></ng-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="relative">
            <button class="p-2 hover:bg-gray-200 rounded inline-flex items-center" title="Font Size"
                (click)="toggleFontSizeDropdown()">
                <span class="text-sm">Size</span>
                <ng-icon name="lucideChevronDown" class="ml-1 h-4 w-4"></ng-icon>
            </button>
            <div *ngIf="isFontSizeDropdownOpen"
                class="absolute left-0 mt-2 shadow-lg bg-blue-50 p-1 rounded z-10 max-h-60 overflow-y-auto">
                <button *ngFor="let size of fontSizes" class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onFontSizeChange(size)">
                    <span>{{ size }}</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onFontSizeChange(false)">
                    <span>Clear</span>
                </button>
            </div>
        </div>
        <div class="relative">
            <button class="p-2 hover:bg-gray-200 rounded inline-flex items-center" title="Highlight Text"
                (click)="toggleHighlightDropdown()">
                <span class="text-sm">Highlight</span>
                <ng-icon name="lucideChevronDown" class="ml-1 h-4 w-4"></ng-icon>
            </button>
            <div *ngIf="isHighlightDropdownOpen" class="absolute left-0 mt-2 shadow-lg bg-blue-50 p-1 rounded z-10">
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onHighlightChange('yellow')">
                    <span>Yellow</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onHighlightChange('green')">
                    <span>Green</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onHighlightChange('pink')">
                    <span>Pink</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onHighlightChange(false)">
                    <span>Clear</span>
                </button>
            </div>
        </div>

        <div class="relative">
            <button class="p-2 hover:bg-gray-200 rounded inline-flex items-center" title="Font Color"
                (click)="toggleFontColorDropdown()">
                <span class="text-sm">Color</span>
                <ng-icon name="lucideChevronDown" class="ml-1 h-4 w-4"></ng-icon>
            </button>
            <div *ngIf="isFontColorDropdownOpen" class="absolute left-0 mt-2 shadow-lg bg-blue-50 p-1 rounded z-10">
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onFontColorChange('red')">
                    <span>Red</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onFontColorChange('blue')">
                    <span>Blue</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onFontColorChange('black')">
                    <span>Black</span>
                </button>
                <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left"
                    (click)="onFontColorChange(false)">
                    <span>Clear</span>
                </button>
            </div>
        </div>
        <div class="flex">
            <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onInsert('table')">
                <ng-icon name="lucideTable" class="mr-2 h-4 w-4"></ng-icon>
                <span>Table</span>
            </button>
            <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onInsert('image')">
                <ng-icon name="lucideImage" class="mr-2 h-4 w-4"></ng-icon>
                <span>Image</span>
            </button>
            <button class="flex items-center p-2 hover:bg-gray-100 w-full text-left" (click)="onInsert('shape')">
                <ng-icon name="lucideCircle" class="mr-2 h-4 w-4"></ng-icon>
                <span>Shape</span>
            </button>
        </div>
    </div>
    <div class="flex">
        <button type="button"
            class="text-white bg-gradient-to-r from-blue-500 to-violet-500 hover:bg-gradient-to-l focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 flex items-center space-x-2">
            <ng-icon name="lucideSave" class="mr-2 h-4 w-4"></ng-icon>
            <div>Save</div>
        </button>
        <button type="button" (click)="onDownload()"
            class="text-white bg-gradient-to-r from-violet-500 to-indigo-500 hover:bg-gradient-to-l focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 flex items-center space-x-2">
            <ng-icon name="lucideDownload" class="mr-2 h-4 w-4"></ng-icon>
            <div>Download</div>
        </button>
        <button type="button" (click)="onShare()"
            class="text-white bg-gradient-to-r from-indigo-500 to-purple-500 hover:bg-gradient-to-l focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 flex items-center space-x-2">
            <ng-icon name="lucideShare2" class="mr-2 h-4 w-4"></ng-icon>
            <div>Share</div>
        </button>
        <button (click)="exportPresentation()">Export PPT</button>
    </div>
</nav>