<div *ngIf="selectedSlide; else noSlide" class="relative aspect-video rounded-md shadow-lg bg-white">
    <div *ngFor="let element of selectedSlide.elements">
        <ng-container [ngSwitch]="element.type">
            <!-- TEXT ELEMENT -->
            <div *ngSwitchCase="'TEXT'" class="absolute" [ngStyle]="{
                'left.%': element.x, 
                'top.%': element.y, 
                'width.%': element.width, 
                'height.%': element.height
            }">
                <quill-editor [(ngModel)]="element.content.text" [modules]="quillModules"
                    (ngModelChange)="onContentChanged()" (onSelectionChanged)="onSelectionChanged($event)"
                    (onEditorCreated)="onEditorInitialized($event, element.style['fontSize'])" placeholder="Enter text"
                    class="w-full h-auto" [applyStyles]="element.style">
                </quill-editor>
            </div>

            <!-- IMAGE ELEMENT -->
            <div *ngSwitchCase="'IMAGE'" class="absolute" [ngStyle]="{
                'left.%': element.x, 
                'top.%': element.y, 
                'width.%': element.width, 
                'height.%': element.height
            }">
                <img [src]="getImageUrl(element.content.url)" alt="Slide Image" class="object-contain w-full h-full" />
            </div>

            <!-- SHAPE ELEMENT -->
            <div *ngSwitchCase="'SHAPE'">
                <app-shape [shapeData]="element"></app-shape>
            </div>

            <!-- TABLE ELEMENT -->
            <div *ngSwitchCase="'TABLE'" class="absolute" [ngStyle]="{
                'left.%': element.x, 
                'top.%': element.y, 
                'width.%': element.width, 
                'height.%': element.height
            }">
                <app-table [tableHeader]="element.content.tableHeader" [tableData]="element.content.tableData"
                    [cellStyles]="element.style.cellStyles" [headerCellStyles]="element.style.headerCellStyles"
                    [quillModules]="quillModules" (cellContentChanged)="onCellContentChanged($event)">
                </app-table>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #noSlide>
    <div class="bg-background aspect-video rounded-md shadow-lg flex items-center justify-center bg-white">
        <p class="text-lg text-gray-600">Select a slide to edit.</p>
    </div>
</ng-template>